name: CI

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  run_style_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: env.yml
          init-shell: bash
      - run: pycodestyle $(git ls-files '*.py')
        shell: bash -l {0}

  unit-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test_file:
          - tests/unit_tests/test_energetics.py
          - tests/unit_tests/test_hmc.py
          - tests/unit_tests/test_integrators.py
          - tests/unit_tests/test_layout_utils.py
          - tests/unit_tests/test_observables.py
          - tests/unit_tests/test_params.py
          - tests/unit_tests/test_prng.py

    steps:
      - uses: actions/checkout@v5

      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: env.yml
          init-shell: bash
          cache-environment: false
          environment-name: phi4_env_${{ matrix.test_file }}   # <-- isolates env
          create-args: "--no-rc"

      - name: Run unit test
        run: python ${{ matrix.test_file }}
        shell: bash -l {0}


  run_func_hmc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: env.yml
          init-shell: bash
      - run: bash tests/func_tests/test_run_hmc.sh
        shell: bash -l {0}


