name: CI

on:
    push:
    pull_request:
        branches: [ main ]

jobs:
    run_style_check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: mamba-org/setup-micromamba@v2
              with:
                    environment-file: env.yml
                    init-shell: bash
            - run: pycodestyle $(git ls-files '*.py')
              shell: bash -l {0}
    
    run_unit_tests:
        runs-on: ubuntu-latest
        env: 
            PYTHONPATH: ${{ github.workspace }}
        steps:
            - uses: actions/checkout@v4
            - uses: mamba-org/setup-micromamba@v2
              with:
                    environment-file: env.yml
                    init-shell: bash
            - run: python -q
              shell: bash -l {0}