name: CI

on:
    push:
    pull_request:
        branches: [ main ]

jobs:
    run_style_check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: mamba-org/setup-micromamba@v2
              with:
                    environment-file: env.yml
                    init-shell: bash
                    generate-run-shell: true

            - run: pycodestyle $(git ls-files '*.py')
    
    run_unit_energetics:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: mamba-org/setup-micromamba@v2
              with:
                environment-file: env.yml
                init-shell: bash
                generate-run-shell: true
            - run: python tests/unit_tests/test_energetics.py

    run_unit_hmc:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: mamba-org/setup-micromamba@v2
              with:
                environment-file: env.yml
                init-shell: bash
                generate-run-shell: true
            - run: python tests/unit_tests/test_hmc.py

    run_unit_integrators:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: mamba-org/setup-micromamba@v2
              with:
                environment-file: env.yml
                init-shell: bash
                generate-run-shell: true
            - run: python tests/unit_tests/test_integrators.py

    run_unit_layout_utils:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: mamba-org/setup-micromamba@v2
              with:
                environment-file: env.yml
                init-shell: bash
                generate-run-shell: true
            - run: python tests/unit_tests/test_layout_utils.py

    run_unit_observables:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: mamba-org/setup-micromamba@v2
              with:
                environment-file: env.yml
                init-shell: bash
                generate-run-shell: true
            - run: python tests/unit_tests/test_observables.py

    run_unit_params:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: mamba-org/setup-micromamba@v2
              with:
                environment-file: env.yml
                init-shell: bash
                generate-run-shell: true
            - run: python tests/unit_tests/test_params.py

    run_unit_prng:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: mamba-org/setup-micromamba@v2
              with:
                environment-file: env.yml
                init-shell: bash
                generate-run-shell: true
            - run: python tests/unit_tests/test_prng.py

    run_func_hmc:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: mamba-org/setup-micromamba@v2
              with:
                environment-file: env.yml
                init-shell: bash
                generate-run-shell: true
            - run: bash tests/func_tests/test_run_hmc.sh

